<html>
  <style>
    body{
    background-image: url(../../assets/2.jpg);
    background-color: #cccccc;
    height: 745px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  </style>

<body> 
  
<div class="container">  

<button id ="btn" routerLink = "/admin"> Admin Login </button>  <br><br><br>
<button id ="btn" routerLink="/user">User Login</button><br>
<br><br><br><br><br><br><br>
<p>&#169; SportsShoppe</p>

</div>

</body>  
</html>